:root {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  /* height: 100%; */
  /* width: 100%; */
  margin: 0px;
  padding: 0%;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

div {
  display: inline-block;
}
